@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rotateEks {
  0% {
    // transform: scale(0);
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateWhy {
  0% {
    // transform: scale(0);
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.landing-heading {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.landing-text-main,
.landing-text-secondary,
.landing-text-main-two {
  color: white;
}

.landing-wrapper-one,
.landing-wrapper-two {
  justify-content: space-around;
  align-content: flex-start;
}

.landing-buttons-block,
.landing-finish {
  background: $background-dark;
  box-shadow: $shadow-dark;
  display: flex;
  justify-content: center;
  align-content: center;
}

.landing-banner,
.landing-navi {
  background-size: cover;
}

.landing-left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.landing-mobiles {
  animation: 1s ease-out 0s 1 rotateWhy;
}

.landing-banner {
  background: url('/assets/landing-banner-9e018f5f8054b23b82786ffce216124011135069068d7b75cbf71a31414ca33e.jpg') no-repeat; //
}

.landing-navi {
  background: url('/assets/mobile-nav-7c419822c5c50d5ab324862a6753792cc5cebf7af0f44a955518d1cada161110.png') no-repeat;
}

.landing-text-main,
.landing-text-main-two {
  font-weight: 700;
}

.landing-buttons-block {
  border-radius: 3px 0 0 3px;
  margin-top: 10px;
  height: 80px;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.landing-button {
  margin: 13px 20px; //
  animation: 1s ease-out 0s 1 rotateEks;
}

@media (min-width: 800px) {
  .landing-wrapper-one,
  .landing-left,
  .landing-right {
    display: flex;
  }
  .landing-left,
  .landing-right {
    justify-content: center;
    max-width: 48vw;
    margin: 0;
  }
  .landing-wrapper-one {
    padding: 20px 20px 0 20px;
    flex-direction: row;
  }
  .landing-left {
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
  }
  .landing-right {
    align-content: flex-start;
  }
  .landing-text-main,
  .landing-text-secondary {
    text-align: left;
  }
  .landing-text-main,
  .landing-text-main-two {
    font-size: 50pt;
  }
  .landing-text-main {
    margin: 20px auto;
  }
  .landing-text-secondary {
    font-size: 40pt;
    font-weight: 300;
    margin: 20px auto;
  }
  .landing-text-main-two {
    text-align: center;
    margin: 40px auto;
  }
  .landing-banner {
    height: 600px;
    width: 100%;
    margin: 20px 0;
  }
  .landing-navi {
    height: 230px;
    width: 470px;
  }
  .landing-button-down-wrapper {
    text-align: center;
  }
  .landing-banner,
  .landing-navi {
    background-size: cover;
  }
}

@media (max-width: 800px) {
  .landing-wrapper-one,
  .landing-wrapper-two,
  .landing-left {
    flex-wrap: wrap;
  }
  .landing-wrapper-one {
    padding: 20px 20px 0 20px;
  }
  .landing-wrapper-two {
    padding: 20px 0;
  }
  .landing-left,
  .landing-right {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
  .landing-left {
    padding: 0;
  }
  .landing-text-main,
  .landing-text-secondary,
  .landing-text-main-two {
    text-align: center;
  }
  .landing-text-main,
  .landing-text-secondary {
    margin: 20px auto;
  }
  .landing-text-main {
    font-size: 40pt;
  }
  .landing-text-secondary {
    font-size: 20pt;
    font-weight: 300;
  }
  .landing-text-main-two {
    font-size: 40pt;
    margin: 40px auto;
  }
  .landing-button-down-wrapper {
    display: none;
  }
  .landing-banner,
  .landing-navi {
    background-size: cover;
  }
  .landing-banner {
    height: 600px;
    width: 100%;
    margin: 20px 0;
  }
  .landing-navi {
    height: 130px;
    width: 270px;
  }
}

@media (max-width: 450px) {
  .landing-wrapper-one,
  .landing-wrapper-two,
  .landing-left {
    flex-wrap: wrap;
  }
  .landing-wrapper-one {
    padding: 20px 20px 0 20px;
  }
  .landing-wrapper-two {
    padding: 20px 0;
  }
  .landing-left {
    padding: 0;
  }
  .landing-right,
  .landing-left {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
  .landing-text-main,
  .landing-text-secondary {
    text-align: center;
    margin: 20px auto;
  }
  .landing-text-main {
    font-size: 40pt;
    margin: 20px auto;
  }
  .landing-text-secondary {
    font-size: 20pt;
    font-weight: 300;
  }
  .landing-banner,
  .landing-navi {
    background-size: cover;
  }
  .landing-banner {
    height: 300px;
    width: 100%;
    margin: 20px 0;
  }
  .landing-navi {
    height: 130px;
    width: 270px;
  }
  .landing-button-down-wrapper,
  #top {
    display: none;
  }
}

img.landing-mobiles {
  height: 78vh;
}

.fa-chevron-down {
  font-size: 30pt;
  color: $button-trans;
}

.landing-finish {
  border-radius: 3px 3px 0 0;
  padding: 20px;
  margin: auto;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}