heading {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "avatar name-one trophy" "avatar name-two trophy" "avatar title title" "avatar points points";
}

.profile-avatar-wrapper {
  grid-area: avatar;
  justify-self: center;
  align-self: top;
}

.profile-name-wrapper {
  grid-area: name-one;
  padding: 0 0 0 10px;
}

.profile-nickname-wrapper {
  grid-area: name-two;
  padding: 10px 0 10px 10px;
}

.profile-trophy-wrapper {
  grid-area: trophy;
  justify-self: center;
  align-self: center;
}

.profile-title-wrapper {
  grid-area: title;
  justify-self: center;
  align-self: center;
}

.profile-points-wrapper {
  grid-area: points;
  justify-self: center;
  align-self: center;
}

.profile-trophy {
  height: 60px;
}

.profile-tab {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "title data";
}

.profile-tab-title,
.profile-tab-data {
  padding: 5px 0;
}

.kit-wrapper {
  margin: 5px 0;
  width: 100%;
}

.buttons-wrapper {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "button";
}

.grid-button {
  justify-self: center;
  align-self: center;
  margin: 20px 0;
}

.profile-title{
  display: flex;
  justify-content: space-between;
  align-content: center;
}