@media (max-width: 450px) {

.main{
  //background:$background-dark ;
}
.r-name{
  position: absolute;
  left:5px;
  bottom: 80px;
}
.user-avatar{
position: absolute;
right: 0px;
  bottom: 20px;
  margin: 9px;

}
.card-map{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  asset-url('cardmap.png');
  background-size: cover;

  width: 414px;
  height: 470px;
  position: relative;
}
.r-status{
 background:$background-dark ;
position: absolute;
right: 0px;
top: 50px;
color: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px 0px 0px 5px;

font-weight: bold;
line-height: normal;
font-size: 17px;

text-align: center;
width: 148px;
height: 32px;
}
.r-status h3{
  margin: auto;


}

.r-time{
 background:$background-light;
position: absolute;
right: 0px;
top: 82px;
color: rgb(255, 199, 0);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px 0px 0px 5px;

font-weight: bold;
line-height: normal;
font-size: 17px;

text-align: center;
width: 108px;
height: 32px;
}
.r-time h4{
  margin: auto;
  font-size: 27px;
}









.logo{
  margin: auto;
  height: 88px;
  border: red solid;
}
.card{
background:$background-light ;
width: 414px;
 height: 600px;
left: 0px;
top: 24px;
border: 1px 1px 2px solid;
box-shadow: $shadow-orange;
border-radius: 3px 0 0 3px;
 position: relative;
margin: auto;

}

}
