.race-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "map" 'title' 'participants';
  box-shadow: $shadow-orange;
  border: 2px solid $orange-accent;
  border-radius: 5px;
  background-image: $background-grey;
  margin-bottom: 40px;
}

.race-card-map-wrapper {
  display: inline;
  position: relative;
  top: 0;
  left: 0;
}

.race-card-map {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.race-show-map {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid $orange-main;
  border-bottom: 1px solid $orange-accent;
  box-shadow: $shadow-orange;
}

.race-show-details-wrapper {
  margin: 40px 0 20px 0;
}

.race-show-check-list {
  list-style: none;
}

.race-show-check-list-item {}

.race-card-status {
  position: absolute;
  top: 20px;
  right: 0;
  border-radius: 5px 0 0 5px;
  padding: 3px 10px 4px 10px;
  background: $background-dark;
  animation: 1s ease-out 0s 1 rotateEks;
}

.race-card-when {
  position: absolute;
  top: 51px;
  right: 0;
  border-radius: 5px 0 0 5px;
  padding: 3px 10px 4px 10px;
  background: $background-light;
  animation: 1s ease-out 0s 1 rotateEks;
}

.race-card-participants {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 0 10px;
}

.race-show-participants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left-arrow {
  margin-left: -5
}

.right-arrow {
  margin-right: -5
}

.race-card-avatar-mar {
  margin-left: -10px;
}

.race-show-avatar {
  &:nth-child(4) {
    transform: scale(1.75);
    margin: 0 10px;
  }
}

.race-show-avatar-min {
  transform: scale(1.75);
  margin: 0 10px;
}

.race-show-arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 5px 5px 0 5px;
}

.race-card-title {
  margin: 10px 0;
}