<div class="landing-heading">
  <div class="logo">logo</div>
  <div class='landing-buttons-block'> buttons</div>
</div>

<div class="container">

  <div class="row">

    <div class="col-lg-8 col-md-8">
      <div class='text s60 white mt20'>Scooter chasing web game</div>
      <div class='text s40 white mt20'>Nothing you have ever experienced!</div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="landing-right"><img class='landing-mobiles'
             src="/assets/mobile-screenshot-25a3e5bd5a295098ba893cf969c3cb18e3d6a94ab8ead15587a6329d33d51dd4.png"
             alt="Mobile screenshots"></div>
    </div>

  </div>
</div>
<div class="landing-button-down-wrapper"><i class="fas fa-chevron-down"></i></div>

<img src="/assets/landing-banner-9e018f5f8054b23b82786ffce216124011135069068d7b75cbf71a31414ca33e.jpg" alt="">
<img src="/assets/mobile-nav-7c419822c5c50d5ab324862a6753792cc5cebf7af0f44a955518d1cada161110.png" alt="">
<img src="/assets/mobile-race-det-dedeb77d657a930d17f9e80a10d715af865d89006ead56fce18f0167b8b4d1e9.png" alt="">
