<div class="landing-heading">
  <div class="logo">logo</div>
  <div class='landing-buttons-block' id='top'>
    <div class='landing-button btn-main text'>REGISTER</div>
    <div class='landing-button btn-secondary text'>sign in</div>
  </div>
</div>
<div class='landing-wrapper-one'>
  <div class="landing-left">
    <div class='landing-text-main text'>Scooter chasing web game</div>
    <div class='my40'></div>
    <div class='landing-text-secondary text'>Nothing you have ever experienced!</div>
  </div>
  <div class="landing-right">
    <img class='landing-mobiles'
             src="/assets/mobile-screenshot-25a3e5bd5a295098ba893cf969c3cb18e3d6a94ab8ead15587a6329d33d51dd4.png"
             alt="Mobile screenshots">
  </div>
  <div class="landing-button-down-wrapper"><i class="fas fa-chevron-down"></i></div>
</div>
<div class='landing-wrapper-two'>
  <div class="landing-text-main text">Jump on your scooter!</div>
  <div class="landing-banner">
   <div class="landing-navi"></div>
  </div>
</div>
<div class="landing-finish">
  <div class='landing-button btn-main text'>REGISTER</div>
  <div class='landing-button btn-secondary text'>sign in</div>
</div>
