<div class="desktop-wrapper">
  <div class='landing-page-container'>
    <div class="landing-heading">
      <div class="logo"></div>
      <div class='landing-buttons-block' id='top'>
        <div class='landing-button btn-main text register'>REGISTER</div>
        <div class='landing-button btn-secondary text sign-in'>sign in</div>
      </div>
    </div>
    <div class='landing-wrapper-one'>
      <div class="landing-left">
        <div class='landing-text-main text'>Scooter chasing web game</div>
        <div class='landing-text-secondary text'>Nothing you have ever experienced!</div>
      </div>
      <div class="landing-right">
        <img class='landing-mobiles'
             src="https://res.cloudinary.com/diciu4xpu/image/upload/v1551267840/chaserz/mobile-screenshot.png"
             alt="Mobile screenshots">
      </div>
    </div>
    <div class="landing-button-down-wrapper"><i class="fas fa-chevron-down"></i></div>
    <div class='landing-wrapper-two'>
      <div class="landing-text-main-two">Jump on your scooter!</div>
      <div class="landing-banner">
        <div class="landing-navi"></div>
      </div>
    </div>
    <div class="landing-finish">
      <div class='landing-button btn-main text register'>REGISTER</div>
      <div class='landing-button btn-secondary text sign-in'>sign in</div>
    </div>
  </div>
</div>
<div class="mobile-wrapper">
  <div class="land-mobile-back">
    <div class="land-mobile-back-filter">
      <div class="land-mobile-logo">
        <img src='https://res.cloudinary.com/diciu4xpu/image/upload/v1551601232/chaserz/chaserz_logo.png'>
      </div>
      <div class="land-buttons-wrapper">
        <div class='land-button button btn-main text grid-button register'>REGISTER</div>
        <div class='land-button button btn-secondary text grid-button sign-in'>sign in</div>
      </div>
    </div>
  </div>
</div>