.avatar {
  width: 60px;
  border-radius: 50%;
  box-shadow: $shadow-orange;
  border: 1px solid;
  margin: -12px;
}

.avatar-large-border {
  padding: 2px;
  border-radius: 50%;
  height: 114px;
  width: 114px;
  background: linear-gradient(#FFC700, #CF7C00);
  box-shadow: $shadow-orange;
}

.avatar-large {
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

.avatar-small-border {
  padding: 2px;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  background: linear-gradient(#FFC700, #CF7C00);
  box-shadow: $shadow-orange;
}

.avatar-small {
  border-radius: 50%;
  height: 33px;
  width: 33px;
}