.btn-main,
.btn-secondary,
.form-button {
  text-align: baseline;
  font-weight: 500;
  font-size: 16pt;
  border-radius: 3px;
  height: 50px;
  color: white;
  transition-duration: 0.7s;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    border-bottom: 3px solid $orange-accent;
    transform: scale(1.05)
  }
  &:active {
    transform: scale(0.9);
    border-bottom: 3px solid $orange-accent;
  }
}

.btn-main {
  padding: 10px 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: $orange-main;
  &:hover {
    box-shadow: $shadow-orange;
  }
}

.btn-secondary {
  padding: 8px 30px;
  text-transform: lowercase;
  background: $background-grey;
  &:hover {
    box-shadow: $shadow-grey;
  }
}

.form-actions {
  text-align: center;
}

.form-button {
  padding: 10px 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: $orange-main;
  width: 170px;
  &:hover {
    box-shadow: $shadow-orange;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}