.title,
.t0,
.t1,
.t2,
.t3,
.t4,
.t5,
.t6,
.t7,
.tx,
.fa-pen,
.form-label {
  text-shadow: $shadow-black;
}

.text {
  font-family: 'Jura', sans-serif;
}

.title {
  font-weight: 700;
  font-size: 20pt;
  letter-spacing: 2px;
  margin: 10px;
}

.t0 {
  font-weight: 700;
  font-size: 30pt;
  letter-spacing: 5px;
  margin: 20px 0;
}

.fa-pen {
  font-size: 12pt;
  padding: 20px 10px 10px 10px;
}

.t1 {
  font-size: 20pt;
}

.t2 {
  font-size: 16pt;
  font-weight: 300;
}

.t3 {
  font-size: 14pt;
  letter-spacing: 3px;
}

.t4 {
  font-weight: 700;
  font-size: 20pt;
  letter-spacing: 2px;
}

.t4r {
  font-size: 20pt;
  letter-spacing: 2px;
}

.t5 {
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 1px;
}

.t6 {
  font-size: 14pt;
  letter-spacing: 1px;
}

.t7 {
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1px;
}

.tx {
  font-size: 16pt;
  font-style: italic;
  letter-spacing: 1px;
}

.form-label {
  text-align: center;
  font-weight: 300;
  font-size: 14pt;
  margin: 10px;
  color: $orange-main;
}

.form-link {
  color: $orange-main;
}

.s60 {
  font-size: 60pt;
}

.s40 {
  font-size: 40pt;
}