.text {
  font-family: 'Jura', sans-serif;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20pt;
  letter-spacing: 2px;
  margin: 10px;
  color: white;
  text-shadow: $shadow-black;
}

.t1{
 font-size: 20pt;
 padding: 5px 0;
}

.t2 {
  font-size: 18pt;
  font-weight: 300;
}

.form-label {
  text-align: center;
  font-weight: 300;
  font-size: 14pt;
  margin: 10px;
  color: $orange-main;
  text-shadow: $shadow-black;
}

.form-link {
  color: $orange-main;
}

.s60 {
  font-size: 60pt;
}

.s40 {
  font-size: 40pt;
}