.text {
  font-family: 'Jura', sans-serif;
}

.title {
  font-weight: 700;
  font-size: 20pt;
  letter-spacing: 2px;
  margin: 10px;
  text-shadow: $shadow-black;
}

.fa-pen {
  // font-weight: 700;
  font-size: 12pt;
  padding: 20px 10px 10px 10px;
  text-shadow: $shadow-black;
}

.t1 {
  font-size: 20pt;
  text-shadow: $shadow-black;
}

.t2 {
  font-size: 16pt;
  font-weight: 300;
  text-shadow: $shadow-black;
}

.t3 {
  font-size: 14pt;
  letter-spacing: 3px;
  text-shadow: $shadow-black;
}

.t4 {
  font-weight: 700;
  font-size: 20pt;
  letter-spacing: 2px; // margin: 10px;
  text-shadow: $shadow-black;
}

.t5 {
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: $shadow-black;
}

.t6 {
  font-size: 14pt;
  letter-spacing: 1px;
  text-shadow: $shadow-black;
}

.t7 {
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: $shadow-black;
}

.tx {
  font-size: 16pt;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: $shadow-black;
}

.form-label {
  text-align: center;
  font-weight: 300;
  font-size: 14pt;
  margin: 10px;
  color: $orange-main;
  text-shadow: $shadow-black;
}

.form-link {
  color: $orange-main;
}

.s60 {
  font-size: 60pt;
}

.s40 {
  font-size: 40pt;
}