.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-left: 20px;
}

.my20 {
  margin: 20px 0
}

.my40 {
  margin: 40px 0
}

.center {
  text-align: center;
}

.divider {
  width: 90%;
  border-bottom: 1px solid $orange-accent;
  margin: 10px auto;
}

.ranks-divider {
  width: 70%;
  border-bottom: 1px solid white;
  margin: 3px auto;
}

.map-divider {
  width: 70%;
  border-bottom: 1px solid $orange-accent;
  margin: 10px auto;
}

.spacer-lrg {
  margin: 40px;
}

.spacer-jmb {
  margin: 60px;
}

.spacer {
  margin: 20px
}

.hor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.ver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.w80 {
  width: 150px;
}
